<!DOCTYPE html>
<html>
<head>
  <h2>Info Page</h2>
</head>
<body>
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</header>
<div class="jumbotron">
  <div class="container">
  <h3>UI Component</h3>
    <p>
    The UI component has been developed in Angular2.
    <ul>
    <li>Open the source code of the UI project and run "npm install"</li>
    <li>To run the project use the command "npm start"</li>
    </ul>
    </p>
    <h3>Spring Boot Component</h3>
    <p>
    The backend component has been developed using spring-boot.
    <ul>
    <li>Execute the jar file of the project using "mvn spring-boot:run"</li>
    </ul>
    </p>
  </div>
</div>
</body>
</html>
